/* All border comments are meant for debugging - please comment when not using */

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #1c1c1c;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.container {
  /* animation: fade-up 1s; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //border: 2px solid #ff0000; //Border color
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  //border: 2px solid #b700ff; //Border color
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 12vw; /* Adjust the left padding as needed */
  //border: 2px solid #ffffff; //Border color
}

#title {
  animation: fade-left 3s;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.5em; /* Adjust the margin-bottom as needed */
  //border: 2px solid #ffffff; //Border color
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

#subtitle {
  animation: fade-right 3s;
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 0.5em;
  //border: 2px solid #ffffff; //Border color
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.app-mockup {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 2px solid #00ff51; //Border color
}

#mockup {
  animation: fade-up 2s;

  max-width: 55%; /* Limit the maximum width to the container's width */
  height: auto; /* Maintain the image's aspect ratio */
  padding-top: 15vh;
  padding-right: 10vw;
  //border: 2px solid #00ff51; //Border color
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.footer {
  animation: fade-in 5s;
  font-size: 0.75em;
  flex: 0.15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #ffd900; Border color */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icons-section a {
  text-decoration: none; /* Remove underline on links */
}

.icons-section a img {
  width: 1.5em;
  margin: 1vh 1vw;

  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; /* Animation */

  //border: 2px solid #ffd900; //Border color
}

.icons-section a img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* ------------------ Mobile Styling ------------------ */
@media (max-width: 650px) {
  .container {
    padding-top: 3vh;
    //border: 2px solid #ff0000; //Border color
  }

  .main-content {
    flex-direction: column;
    //border: 2px solid #b700ff; //Border color
  }

  .header {
    padding-left: 5vw; /* Adjust the left padding as needed */
    //border: 2px solid #ffffff; //Border color
  }

  #title {
    font-size: 2em;
  }

  #subtitle {
    font-size: 1em;
  }

  .app-mockup {
    flex: 0.7;
    //border: 2px solid #00ff51; //Border color
  }

  #mockup {
    max-width: 55%; /* Limit the maximum width to the container's width */
    height: auto; /* Maintain the image's aspect ratio */
    padding: 0;
    margin: 0;
    padding-left: 5vh;
    //border: 2px solid #FF5858; //Border color
  }

  .footer {
    margin-bottom: 15vh;
    animation: fade-in 10s;
    font-size: 0.75em;
    //border: 2px solid #ffd900; //Border color
  }
}
