/*

Last edit: 7/6/22
TODO:

 */

@font-face {
  font-family: MontLight;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: MontLightItalic;
  src: url(fonts/Montserrat/Montserrat-LightItalic.ttf);
}

@font-face {
  font-family: Skyer;
  src: url(fonts/Skyer/Skyer-Regular.otf);
}

@font-face {
  font-family: lombok;
  src: url(fonts/lombok/Lombok.otf);
}

/*************** main screen ****************/

/*

Nav Bar Credit:
 - https://freefrontend.com/css-menu/
 - https://codepen.io/WhisnuYs/pen/XWdpdGP
 */

.navMenu {
  background-color: rgba(115, 115, 115,20%);
  position: fixed;
  float: top;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  padding: 14px 16px;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: deepskyblue;
}

/*
This shows where the dots initial position starts when hovering
 */
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: deepskyblue;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(0px,0px);
  transform: translate(0px,0px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translate(100px,-155px);
  transform: translate(100px,-155px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translate(100px,-90px);
  transform: translate(100px,-90px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translate(100px,-30px);
  transform: translate(100px,-30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

body, html {
  scroll-behavior: smooth;
  background-color: #a6a6a6;
  color: #FFFFFF;
  font-family: MontLight;
  height: 100%;
  margin:0px; /*removes the white borders from the side */
}

div{
  height:100%;
  display: flow-root;
}

.about-me-link:link {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
  text-shadow:1px 1px 1px black;
}
.about-me-link:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}
.about-me-link:hover {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: underline;
}
.about-me-link:active {
  color: lightblue;
  background-color: transparent;
  text-decoration: underline;
}


/*************** main screen ****************/
#home{
  scroll-behavior: smooth;
  background-image: linear-gradient(#0d0d0d, #a6a6a6);
}

#home-page-title {
  text-align: center;
  letter-spacing: 50px;
  margin-top: 275px;
  font-size: 100px;
  font-family: Lombok;
  text-shadow:20px 20px 20px black;
}

#home-page-content {
  text-align: center;
  font-family: Lombok;
  letter-spacing: 10px;
  text-shadow:5px 5px 5px black;
}

/*************** about me ****************/

#about-me{
  background-image: linear-gradient(#a6a6a6, #0d0d0d);
}

#about-me-title {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
  font-family: Lombok;
  letter-spacing: 10px;
  text-shadow:20px 20px 20px black;
  color: #FFFFFF;
}

#about-me-description {
  float:left;
  text-align: left;
  max-width: 40%;
  height: auto;
  width: auto\9;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 20%;
  font-size: 20px;
  font-family: MontLight;
  color: #FFFFFF;
  text-shadow:2px 2px 2px black;
  position: absolute;
  resize: both;
}

#about-me-image {
  /*max-width: 400px;*/
  max-width: 20%;
  height: auto;
  width: auto \9;
  margin-top: 5%;
  margin-left: 65%;
  position: absolute;
}

/*************** my work ****************/

#my-work{
  background-image: linear-gradient(#0d0d0d, dodgerblue,#0d0d0d);
}

#my-work-title {
  letter-spacing: 10px;
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
  font-family: Lombok;
  letter-spacing: 10px;
  text-shadow:20px 20px 20px black;
  color: #FFFFFF;
}

#my-work-description{
  float:left;
  text-align: left;
  max-width: 40%;
  height: auto;
  width: auto\9;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 20%;
  font-size: 20px;
  font-family: MontLight;
  color: #FFFFFF;
  text-shadow:2px 2px 2px black;
  position: absolute;
  resize: both;
}

#spotify{
  margin-top: 5%;
  margin-left: 40%;
  border-radius:45px;
  align-content: center;
}




