/*

Last edit: 1/12/2023

 */

@font-face {
  font-family: f1;
  src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: f2;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: f3;
  src: url(fonts/futura/Futura-CondensedLight.otf);
}
@font-face {
  font-family: f4;
  src: url(fonts/Helvetica-Font/Helvetica.ttf);
}

/*************** main screen ****************/


body, html {
  scroll-behavior: smooth;
  color: #FFFFFF;
  height: 100%;
  margin:0px; /*removes the white borders from the side */
}

i:hover {
  transform: scale(1.5) ;
  transition: all 0.3s linear;
}

div{
  height:100%;
  display: flow-root;
}

.square {
  height: .5vh;
  width: 50vw;
  margin-left: 25vw;
  /*position: sticky;*/
  /*background-color: dodgerblue;*/
  background-color: gray;
}

/*************** main screen ****************/
#home{
  scroll-behavior: smooth;
  background-image: linear-gradient(#0d0d0d, #a6a6a6);
}

#home-page-title {
  text-align: center;
  font-family: f4;
  letter-spacing: 2vw;
  margin-top: 25vh;
  font-size:7vh;
  text-shadow:1vw 1vw 1vw black;
}

#home-page-content {
  text-align: center;
  margin-top: 6vh;
  font-family: f2;
  letter-spacing: .5vw;
  font-size:3vh;
  text-shadow:1vw 1vw 1vw black;
}

.home-page-link:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-shadow:.5vw .5vw .5vw black;
}
.home-page-link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.home-page-link:hover {
  color: deepskyblue;
  background-color: transparent;
}
.home-page-link:active {
  color: lightblue;
  background-color: transparent;
}




