@font-face {
  font-family: f1;
  src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: f2;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: f3;
  src: url(fonts/futura/Futura-CondensedLight.otf);
}
@font-face {
  font-family: f4;
  src: url(fonts/Helvetica-Font/Helvetica.ttf);
}

body {
  font-family: f1, f2;
  color: white;
  background-color: #1b1b1b;
  margin: 0; //removes white space
  padding: 0; //removes white space
  height: 100vh;
}

.navbar {
  z-index: 3; /* Set a high z-index value to ensure it stays on top */
  position: fixed;
  bottom: 8%;
  right: 0;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25),
    rgba(27, 27, 27, 1)
  );
  padding: 0.5%;
  display: flex;
  justify-content: center; /* To center-align the links */
  align-items: center;
  letter-spacing: 2px;
}

.navbar a {
  color: white; /* Link text color */
  text-decoration: none; /* Remove underlines from links */
  margin: 0 15px; /* Adjust spacing between links */
}

.navbar a.active {
  font-weight: bold; /* Example: Make the text bold */
  color: #c0a080; /* Example: Change the text color to red */
  /* Add any other styles you want for the active link */
}

/* mouse over link */
.navbar a:hover {
  color: #9c715f;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
}

#left-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /*Center horizontally */
}

#right-column {
  flex: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#title-name {
  text-align: center;
  font-size: 5vh;
  font-family: f2;
  font-style: italic;
  letter-spacing: 0.5vw;
}

#title-mission {
  text-align: center;
  font-size: 2vh;
  font-family: f1;
  letter-spacing: 0.25vw;
}

#portrait {
  max-width: 50%; /* Limit the maximum width to the container's width */
  height: auto; /* Maintain the image's aspect ratio */
  filter: grayscale(50%);
}
